*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.btn-1{
    display: inline-flex;
    padding: 12px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 20px 0px 20px 140px;
}

.btn-1:hover{
    color: #FF42A5;
    background: #fff;
    border: 1px solid #FF42A5;
}
.btn-2{
    display: inline-flex;
    padding: 12px 15px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: #FFF;
    background-color: #4EC5F7;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 20px 0px;
    
}

.btn-2:hover{
    color: #4EC5F7;
    background: #fff;
    border: 1px solid #4EC5F7;
}
/* header start */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    background-color: #fff;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.logo img{
    width: 70px;
    margin-right: 20px;
}

.logo h1{
    color: #0B0223;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.2em;
}

.logo h1 span{
    color: #FF42A5;
}

/* nav start */
.nav{
    margin-right: 140px;
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 20px 0px 0px;
}

.nav-icon{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.nav-icon h4{
    font-size: 1rem;
    font-weight: 400;
    color: #3C354F;
    margin-right: 20px;
}

.nav-icon a{
    text-decoration: none;
}
/* header end */

/* main section start */

/* banner-1 section start */
.banner-1{
    width: 100%;
    height: 508px;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}

.b1-content{
    width: 50%;
    height: 570px;
    background-image: url("../images/Group\ 14.png");
    background-size: 650px 570px;
    background-repeat: no-repeat;
}

.b1-content h3{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 140px;
}

.b1-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 140px;
}

.b1-content h6{
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: lowercase;
    margin-left: 140px;
}

.b1-image{
    width: 50%;
    height: 400px;
    margin-right: 120px;
}

.b1-image img{
    width: 100%;
}
/* banner-1 section end */

/* online game start */
.online-game{
    width: 100%;
    padding: 80px 0px;
}

.container{
    width: 100%;
    text-align: center;
}

.container h3{
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2em;
}

.container h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h6{
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card{
    width: 100%;
    display: flex;
    padding: 0px 80px 0px 140px;
}

.c-1, .c-2, .c-3, .c-4{
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.img-1, .img-2, .img-3, .img-4{
    width: 260px;
    height: 350px;
    transition: 1s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 89.5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 1s ease;
}

.c-1:hover .overlay{
    opacity: 1;
}

.c-2:hover .overlay{
    opacity: 1;
}

.c-3:hover .overlay{
    opacity: 1;
}

.c-4:hover .overlay{
    opacity: 1;
}

.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    display: none;
    transition: 1s;
}

.c-1:hover .play-icon{
    display: block;
}

.c-2:hover .play-icon{
    display: block;
}

.c-3:hover .play-icon{
    display: block;
}

.c-4:hover .play-icon{
    display: block;
}

.inner-card p{
    color: #534C64;
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7em;
}
/* online game end */

/* play game start */
.play-game{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.game-image{
    width: 50%;
}

#h-img{
    width: 80%;
    margin-left: 20px;
}

#f-img{
    width: 30%;
    position: relative;
    top: -160px;
    left: 450px;
}

.game-content{
    width: 50%;
    margin-left: 60px;
    margin-bottom: 100px;
}

.game-content h3{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2em;
}

.game-content h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-content p{
    color: #534C64;
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7em;
    margin-top: 20px;
}
/* play game end */

/* button section start */
.button{
    width: 100%;
    padding: 80px 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 180px);
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.inner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 48px;
    transition: 1s;
}

.inner-button:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
}

.inner-button img{
    width: 25%;
}

.inner-button h6{
    color: #534C64;
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7em;
    margin-left: 20px;
    transition: 1s;
}

.inner-button:hover h6{
    color: #FF42A5;
}

/* button section end */

/* main section end */

/* footer start */
footer{
    width: 100%;
    padding: 80px 0px;
    background: #0B0223;
    text-align: center;
}

footer .logo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-1 img{
    width: 55px;
    margin-right: 10px;
}

.logo-1 h3{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2em;
}

.logo-1 h3 span{
    color: #FF42A5;
}

footer ul{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: normal;
    margin: 0px 20px;
}

.icon{
    width: 100%;
}

.icon i{
    margin-right: 10px;
}

.icon a{
    text-decoration: none;
}

.icon a i{
    margin-top: 20px;
    margin-bottom: 20px;
}

.li-2{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 400;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.7em;
}
/* footer end */